<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TakeNotes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%=notes_path%>">Notes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%=emails_path%>">Emails</a>
      </li>
        <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to "Sign out", destroy_user_session_path, class: "nav-link", method: :delete %>
    </li>

    <li class="nav-item active">
      <p class="nav-link"><strong>Voici ton email : <%= current_user.email %></strong></p>
    </li>

    <li class="nav-item">
      <%= link_to "Edit email / password", edit_user_registration_path, class: "nav-link" %>
    </li>

  <% else %>
    <li class="nav-item">    
      <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
    </li>

    <li class="nav-item">
      <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
    </li>

    <% end %>
    </ul>
  </div>
</nav>